@import "./normalize.scss";
@import "./App.scss";
@import "./booklist.scss";
@import "./details.scss";
@import "./readinglist.scss";
@import "./searchbox.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  // background-color: $colorMain;
}
