.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    padding: 0.6em;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    height: 30px;
    border: none;
    width: 80%;
    outline: none;

    &::placeholder {
      padding-left: 0.5em;
    }
  }

  &__button {
    font-size: 1.2em;
    height: 30px;
    width: 4em;
    border-radius: 0;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: #51c4d3;
    margin: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
